<h1><b>Artur Jaakman</b> </h1>
<h4>
  <b>Audio Programmer</b>
</h4>
<p>
  This website documents and showcases some of my work. <br>
  Scroll down to see summaries of my recent projects or browse the navbar above to see older work.
</p>
<p>
  Email: <b> artur.jaakman@gmail.com </b><br>
  Github: <a href="https://github.com/ajaakman">github.com/ajaakman</a>
</p><p>
  <b>Education:</b> <br>
  Information Technology (MSc). University of Aberdeen. <br>
  Audio Technology (BSc Hons). Glasgow Caledonian University.
</p>
<h2> My Projects: </h2>

<h3> Audio Synthesizer </h3>
<p> A 32bit Windows app made using C++ Direct2D and WaveOut API hosted in a C# WPF window and UI controls. </p>
<b> More info: </b> <%= link_to "Audio Synthesizer", portfolio_synth_path %> <br>
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IEx4dplyGIs?enablejsapi=1&amp;autoplay=0" height=450 width=800 allowfullscreen=""></iframe> <br>

<h3> Modular Audio App </h3>
<p> A modular audio synthesis app with a C++ backend compiled with Emscripten and React.js frontend. </p>
<b> More info: </b> <%= link_to "Modular Audio App", portfolio_modular_path %> <br>
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7i614y3Gg3U?enablejsapi=1&amp;autoplay=0" height=450 width=800 allowfullscreen=""></iframe> <br>

<h3> 3D Renderer </h3>
<p> A simple renderer with 3d audio support made with C++, OpenGL and OpenAL. Compiled to WebGL using Emscripten. </p>
<b> More info: </b> <%= link_to "3D Renderer", portfolio_renderer_path %> <br>
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/291APD3EANM?enablejsapi=1&amp;autoplay=0" height=450 width=800 allowfullscreen=""></iframe> <br>

<br>
<br>
