<h1> Artur Jaakman </h1>
<p>
  Audio Engineer and Programmer. <br>
  This website showcases some of my work.
</p>
</p><p>
  Email: <b> artur.jaakman@gmail.com </b><br>
  Github: <a href="https://github.com/ajaakman">github.com/ajaakman</a>
</p><p>
  <b>Education:</b> <br>
  Information Technology (MSc). University of Aberdeen. <br>
  Audio Technology (BSc Hons). Glasgow Caledonian University.
</p>
<h2> My Projects: </h2>
<h3> Audio Synthesizer </h3>
<p> A 32bit Windows app made from scratch in C++. <br>
The purpose of this app was to make a synthesizer without using any frameworks, just using the windows API. </p>
<b> More info: </b> <%= link_to "Audio Synthesizer", portfolio_synth_path %> <br>
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UtaG3e2Mg_A?enablejsapi=1&amp;autoplay=0" height=450 width=800 allowfullscreen=""></iframe> <br>
<h3> Distortion VST Plugin </h3>
<p> A VST distortion plugin made using the C++ JUCE framework. <br>
This project was part of a university assignment. </p>
<b> More info: </b> <%= link_to "Distortion VST Plugin", portfolio_vst_path %> <br>
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_exlC5PFn08?enablejsapi=1&amp;autoplay=0" height=450 width=800 allowfullscreen=""></iframe> <br>
<h3> UE4 Rewinder Component Class </h3>
<p> An Unreal 4 Engine component class that can be attached to any game object and when activated will perform a "Time Rewind". <br>
The purpose of this was to make a moderate complexity class for the UE4 engine using C++. </p>
<b> More info: </b> <%= link_to "UE4 Rewinder Class", portfolio_rewinder_path %> <br>
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6nDcNYWrLKE?enablejsapi=1&amp;autoplay=0" height=450 width=800 allowfullscreen=""></iframe> <br>

<br>
<br>
