<h1>Max7 Monophonic Synthesizer</h1>
<p>A modular monophonic synth made in Max7. One of my first introductions to audio programming. Made in 2015 for Audio Processing and Effects module at Glasgow Caledonian University. </p>
<div class="iframe-container">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tLJQgmarUIE?enablejsapi=1&amp;autoplay=0" allowfullscreen=""></iframe>
</div>
<br>
<br>
