<h1>Modular Audio App</h1>
<p>This project uses a C++ audio library witten from scratch and compiled to WebAssembly using Emscripten.
A browser based UI was made using React.js to create maxmsp/puredata-like crossplatform modular audio app.
The audio library was written using object oriented design with the idea of having modular 'audio components'
that could be connected to each other in any configuration to create a signal chain. Currently only two components
have been added, the Oscillator and the LowPass Filter, but the framework is fully in place to add more components
rapidly, including Python Scripts to genereate boilerplate code. More technical data can be found in the github repo
ReadMe files.</p>
<p><b>TODO: </b> Add more components: Filters, Distortion Effects, Delay, Reverb, Audio File Player, etc. <br>
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Add mobile support.</p>
<p><b>Audio Source Code: </b><a href="https://github.com/ajaakman/cpp-audio-library">https://github.com/ajaakman/cpp-audio-library</a><br></p>
<p><b>UI Source Code: </b><a href="https://github.com/ajaakman/react-audio-app">https://github.com/ajaakman/react-audio-app</a><br></p>
<p><b>Try Online: </b><a href="http://audio.arturjaakman.com">audio.arturjaakman.com</a><br></p>
<div class="iframe-container">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7i614y3Gg3U?enablejsapi=1&amp;autoplay=0" allowfullscreen=""></iframe>
</div>
<br>
<br>
