<h1>3D OpenGL Renderer</h1>
<p>A 3D renderer made with C++ and OpenGL. Positional audio support using OpenAL. Can be compiled to WebAssembly via Emscripten to run in the browser.</p>
<p><b>Source Code: </b><a href="https://github.com/ajaakman/3d-renderer">https://github.com/ajaakman/3d-renderer</a><br></p>
<p><b>Try Online: </b><a href="http://renderer.arturjaakman.com">http://renderer.arturjaakman.com</a><br></p>
<div class="iframe-container">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/291APD3EANM?enablejsapi=1&amp;autoplay=0" allowfullscreen=""></iframe>
</div>
<br>
<br>
