<h1>UE4 Rewinder Component Class</h1>
<p>A UE component class that can be attached to any UE4 actor and will track its position for the last <i>n</i> number of cycles. When activated it returns the actor to its
location at the previous cycle, also setting the velocity and torque, until deactivated or until the tracking array runs out of recorded cycles.</p>
<p><b>Source Code: </b><a href="https://github.com/ajaakman/UE4-roller-game">https://github.com/ajaakman/UE4-roller-game</a><br></p>
<div class="iframe-container">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6nDcNYWrLKE?enablejsapi=1&amp;autoplay=0" allowfullscreen=""></iframe>
</div>
<br>
<br>
