<h1>Audio Synthesizer</h1>
<p>A Windows app that can be played using the keyboard, mouse or MIDI keyboard.</p>
<p>This project was originally a simple C++ audio synthesizer using the waveOut API. I then added a native Windows GUI interface rendered using Direct2D.
I was then curious to see if a WPF Interface could be added to control the synth parameters. The Keyboard on the top right is the original Win32 API window using
Direct2D to render the keys hosted by a WPF Window.</p>

<p><b>TODO: </b> Add more effects: filters, reverb, delay, etc.<br>
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Improve Midi support. (Keyboard needs to be plugged in on startup, Midi messages aren't correct and don't work on some keyboards)</p>
<p><b>Source Code: </b><a href="https://github.com/ajaakman/sound-synthesizer">https://github.com/ajaakman/sound-synthesizer</a><br>
  <b>Downoad: </b><%= link_to 'Windows 32bit', portfolio_download_zip_url %><br>
</p>
<div class="iframe-container">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IEx4dplyGIs?enablejsapi=1&amp;autoplay=0" allowfullscreen=""></iframe>
</div>
<br>
<p>This is the original app that ran in a standalone Win32 API Window and didn't have the WPF Controls.</p>
<b>Downoad Win32 Standalone: </b><%= link_to 'Windows 32bit', portfolio_download_synth_url %><br>
<div class="iframe-container">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UtaG3e2Mg_A?enablejsapi=1&amp;autoplay=0" allowfullscreen=""></iframe>
</div>
<br>
<p>I also experimented in trying to get the synth to work on mobile devices using the SDL2 library.</p>
<p><b>Source Code: </b><a href="https://github.com/ajaakman/SDLFramework">https://github.com/ajaakman/SDLFramework</a><br>
<div class="iframe-container">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DUm2JnuyWnI?enablejsapi=1&amp;autoplay=0" allowfullscreen=""></iframe>
</div>
<br>
<br>
