<h1>Home#synth</h1>
<p>Find me in app/views/home/synth.html.erb</p>
<a href="https://github.com/ajaakman/SoundSynthesizer/tree/master/SynthesizerStandalone/src/Audio">Code</a><br>
<%= link_to 'Download Windows 32bit', portfolio_download_synth_url %><br>
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UtaG3e2Mg_A?enablejsapi=1&amp;autoplay=0" frameborder="0"  height="600px" width="60%" allowfullscreen=""></iframe>
