<h1>UDK Game</h1>
<p>My first introduction to game audio design from 2015, made for Games Sound Design module at Glasgow Caledonian University.
The assignment was to populate a map in UDK with recorded sound effects and effects from free libraries. Additionally the project had some
effects generated in real time, by having UDK communicate with Max7 via OSC (Open Sound Control) and have the Max Patch generate the sound effect.</p>
<div class="iframe-container">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TfZ5xRJK3kU?enablejsapi=1&amp;autoplay=0" allowfullscreen=""></iframe>
</div>
<br>
<br>
