<h1>Unity Game</h1>
<p>One of my first introductions to programming and the Unity game engine. Made in 2016 for Games Audio module at Glasgow Caledonian University.
The assignment was to make a game with sound effects using FMOD. I wanted to make the simplest game I could think of with a win and lose condition.
In this case, survive long enough to win, if the dinosaur catches you, you lose. The dinosaur will rotate and charge towards the player and the player will have
to dodge it. As time passes the dinosaurs charge becomes faster. Most sound effects are foley recording or from freesound.org. The day and night cycle triggers different
background noise. During the night the player will hear crickets, while during the day the player will hear bird chirping. Additinally, the player also hears a hearbeat,
that gets quicker the more you move and slows down when you stop and rest.</p>
<div class="iframe-container">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iNJDTGtYeLA?enablejsapi=1&amp;autoplay=0" allowfullscreen=""></iframe>
</div>
<br>
<br>
