<h1>Distortion VST Plugin</h1>
<p>The plugin uses a simple arctan function to shape the sound. It can apply the effect to one channel or two channes separately creating an interesting stereo effect.</p>
<p><b>TODO: </b>Make the distortion have a non-linear response. I.e. The lowder the sound the more distortion. <br>
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Add visual effects to signify amount of distortion applied and which channel is active. </p>
<div class="iframe-container">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_exlC5PFn08?enablejsapi=1&amp;autoplay=0" allowfullscreen=""></iframe>
</div>

<br>
<br>
