<h1>Distortion VST Plugin</h1>
<p>One of my first C++ projects made in 2017 for Advanced Audio Processing and Effects module at Glasgow Caledonian University. A VST plugin made using the JUCE C++ framework
that uses a simple arctan function to shape the sound. It can apply the effect to one channel or two channels separately creating an interesting stereo effect.</p>
<p><b>TODO: </b>Make the distortion have a non-linear response. i.e. The lowder the sound the more distortion. <br>
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Add visual effects to show the amount of distortion applied and which channel is currenly active. </p>
<p><b>Source Code: </b><a href="https://github.com/ajaakman/DistortionVSTPlugin">https://github.com/ajaakman/DistortionVSTPlugin</a><br>
<div class="iframe-container">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_exlC5PFn08?enablejsapi=1&amp;autoplay=0" allowfullscreen=""></iframe>
</div>

<br>
<br>
