<h1>Home#vst</h1>
<p>Find me in app/views/home/vst.html.erb</p>
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_exlC5PFn08?enablejsapi=1&amp;autoplay=0" allowfullscreen=""></iframe>
