<h1>UE4 Bullet Whizz</h1>
<p>The bullet whizz sound effect is played at the location where the 'bullet' passes the player at a right angle.

</p>
<div class="iframe-container">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TGedLVXWh9w?enablejsapi=1&amp;autoplay=0" allowfullscreen=""></iframe>
</div>

<br>
<h4>UE4 BLUEPRINT:</h4>
<%= image_tag("BulletWhizz.PNG") %>
<br>
<br>
